body {
  width: 100vw;
  height: 100vh;
  font-family: 'Kiwi Maru', serif;
  background: linear-gradient(
    103deg,
    rgba(98, 9, 20, 0.97) 63.47%,
    rgba(200, 19, 40, 0.97) 95.69%
  );
  display: flex;
  flex-direction: row;
}

.header {
  width: 80%;
  height: auto;
}

.are {
  width: 120px;
  height: auto;
  color: #fff;
  font-family: 'Kiwi Maru';
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  width: 1248px;
  height: 0px;
  flex-shrink: 0;
  width: 1248px;
  height: 0px;
  flex-shrink: 0;
}
