body {
  width: 100vw;
  height: 100vh;
  font-family: 'Kiwi Maru', serif;
  background: linear-gradient(
    103deg,
    rgba(98, 9, 20, 0.97) 63.47%,
    rgba(200, 19, 40, 0.97) 95.69%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
}

.header {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid;
  border-color: #ffffff;
}

.back {
  color: #9cf;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.save {
  display: grid;
  gap: 20px;
}

.save-block {
  padding: 1em;
  background-color: #ddd;
  margin-bottom: 1em;
  font-family: "Kiwi Maru", serif;
  text-align: left;
}

.load-text {
  color: limegreen;
  font-weight: bold;
}
