body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Kiwi Maru', serif;
  background: linear-gradient(
    169deg,
    rgba(82, 14, 21, 0.97) 13.29%,
    rgba(103, 17, 27, 0.97) 64.25%,
    rgba(200, 19, 40, 0.97) 89.73%
  );
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.title-place {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 52px;
  padding: 48px 0;
}

.choice {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.illust {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 72px;
  color: #fff;
  font-size: 24px;
}

.menu-item {
  margin: 8px 0;
}

/* ここがよくわからん */
.menu-item .indicator {
  width: 1.5rem;
  display: inline-block;
  text-align: right;
  margin-right: 0.5rem;
  visibility: hidden;
}
/* ここがよくわからん2 */
.menu-item.active .indicator {
  visibility: visible;
}
